<!DOCTYPE html>
<html>
    <head>
        <title>Details</title>
    </head>
    <body>
        <p>Enter unique names only. If two people are having same names, use their 2nd name or characters to differentiate two people. </p>
        <form action="/entry" method='post'>
            <input type="text" placeholder="Enter name of person" name="PersonName"> <br>
            <br>
            <input type="text" placeholder="Enter phone number" name="PhoneNumber"> <br>
            <br>
            <button type="submit">Save</button>
        </form>
    </body>
</html>